<nav>
    <ul>
        <li><a routerLink="/primeira" routerlinkActive="active">Primeira Pagina yay </a></li>

                <li><a routerLink="/segunda" routerLinkActive="active">Segunda Pagina yay </a></li>

                <li><a routerLink="/minha-lista" routerLinkActive="active">Minha Lista yay </a></li>
                
                <li><a routerLink="/lista-animais" routerLinkActive="active">Lista Animais yay </a></li>


    </ul>
</nav>


<router-outlet />



<!-- <h1>OLA IDIOTAS COMO ESTAO</h1> -->

<!-- <app-my-component meu-nome = "paulo" />

<app-my-component [meu-nome] = "meuNomePai"></app-my-component>

<app-my-component (mudancaContador)="atualizar($event)"></app-my-component>
<div style ="background-color: blueviolet;">
<p>Contador: {{ contadorPAI }}</p>

</div> -->

