
 
<h1>Lista de Cidades yay</h1>

<div>

<!-- <button type="button" (click)="adicionarCidade()">
  ADICIONAR NOVA CIDADE ihih
</button> -->
<!-- <br>
<button type="button" routerLink="/formulario-cidade-td">
  Adicionar uma nova cidade (1: routerLink="") -->
<!-- </button><br><br> -->
<button type="button" (click)="irAdicionarCidade()">Adicionar city ihihi
  <!-- Adicionar uma nova cidade (2: via obeto no TS - util p fazer validacao de dados antes de ir para a pagina pretendida) -->
</button><br><br>

<button type="button" (click)="limparDados()">
  Limpar dados <!--(2: via objeto no TS)-->
</button><br /><br />
</div>

<div>
  <ul>
    @for (cidade of cidades; track $index) {
      <app-minha-lista-item [cidade]="cidade">
      </app-minha-lista-item>
    }
  </ul>
</div>

